<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="content-search">
                    <form class="form-inline my-2 my-lg-0 mr-lg-2">
                        <div class="input-group">
                          <input class="form-control" type="text" placeholder="Buscar Servicios">
                          <span class="input-group-append">
                            <button class="btn" type="button">
                              <i class="fa fa-search"></i>
                            </button>
                          </span>
                        </div>
                      </form>

                </div>
            </div>
        </div>
    </div>
    
    
</div>
