<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 mb-3">
            <h3>Solicitudes de los clientes </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="content-card-service d-flex ">
                <div class="description">
                  <h6>Cliente 1</h6>
                  <p>Servicio x</p>
                  <a class="btn btn-danger text-white">Finalizar Servicio</a>
                </div>
                
            </div>
        </div>
        <div class="col-md-3">
            <div class="content-card-service d-flex ">
                <div class="description">
                  <h6>Cliente 2</h6>
                  <p>Servivio x</p>
                  <a class="btn btn-danger text-white">Finalizar Servicio</a>
                </div>
                
            </div>
        </div>
        <div class="col-md-3">
            <div class="content-card-service d-flex ">
                <div class="description">
                  <h6>Cliente 3</h6>
                  <p>Descripción</p>
                  <a class="btn btn-danger text-white">Finalizar Servicio</a>
                </div>
                
            </div>
        </div>
    </div>
</div>
