<header class="franja">
    <div class="container">
        <div class="row mt-2 align-items-center">
          <div class="col-md-6 ">
            <h1>ByCs</h1>
          </div>
          <div class="col-md-6  text-right">
            <a  class="link-color"  routerLink="/login" style="text-decoration: underline;"><strong>Ingresa</strong> </a>
            <a  class="link-color"  routerLink="/register" style="text-decoration: underline;"><strong>Regístrate</strong> </a>
          </div>
      </div>
    </div>
  </header>
  <section>
      <div class="container">
        
        <div class="row">
          <div class="col-md-12">
            <div class="c-login registro">
              <h3 class="title-color text-center">
                Registro<br></h3>
              <form class="form-content ">
                <div class="form-group">
                    <label for="nombres">Nombres
                    </label>
                    <input type="text" class="form-control" id="nombres" aria-describedby="emailHelp">
                    <!-- <small id="emailHelp" class="form-text text-muted">Correo </small> -->
                  </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email 
                  </label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <!-- <small id="emailHelp" class="form-text text-muted">Correo </small> -->
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Contraseña</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Acepta los terminos y condiciones</label>
                </div>
                <!-- <div class="form-group text-center">
                  <a href="#" class="link-color"><small>Olvidaste tu contraseña?</small> </a><br>
                  <a routerLink="/register" class="link-color"><small>Registrate</small> </a>
                </div> -->
                <div class="c-btn">
                  <button type="submit" class="btn">Regístrate</button>
                </div>
                
              </form>
            </div>
              
          </div>
        </div>
      </div>
    </section>
