<header class="franja">
  <div class="container">
      <div class="row mt-2 align-items-center">
        <div class="col-md-6 ">
          <h1>ByCs</h1>
        </div>
        <div class="col-md-6  text-right">
          <a  class="link-color"  routerLink="/register" style="text-decoration: underline;"><strong>Regístrate</strong> </a>
        </div>
    </div>
  </div>
</header>
<section>
    <div class="container">
      
      
      <div class="row">
        <div class="col-md-6">
          <div class="c-login">
            <form class="form-content" (ngSubmit)="sendLogin()" [formGroup]="formLogin">
              <div class="form-group">
                <label for="exampleInputEmail1">Email 
                </label>
                <input type="email" class="form-control" formControlName="email"aria-describedby="emailHelp">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Contraseña</label>
                <input type="password" class="form-control" formControlName="password">
              </div>
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
              </div>
              <div class="form-group text-center">
                <a href="#" class="link-color"><small>Olvidaste tu contraseña?</small> </a><br>
                <a routerLink="/register" class="link-color"><small>Registrate</small> </a>
              </div>
              <div *ngIf="errorSession">Ocurrio un error con tu email o password</div>
              <div class="c-btn">
                <button  class="btn">Iniciar Sesión</button>
              </div>
              
            </form>
          </div>
            
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center">
          <div class="c-description">
            <!-- <img src="assets/imgs/undraw_data_reports_706v.svg" alt="team" class="img-fluid"> -->
  
            <h1 class="title-color">Brinda y contrata servicios</h1>
            <p>Plataforma de Servicios para la solución de tus problemas más cerca desde la comodida de tu hogar</p>
              <img src="assets/imgs/undraw_city_life_gnpr.svg" alt="team" class="img-fluid">
          </div>
          
        </div>
      </div>
    </div>
  </section>