<section class="pt-0 pb-0 c-perfil">
    <div class="bg-image-user">
        <div class="text-center">
            <img src="assets/imgs/user.png" alt="">
        </div>
    </div>
    <div class="conatiner-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>Nombre del Usuario</h3>
                <p>Lugar </p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi deleniti, <br> id quia corrupti earum delectus. Iusto ad commodi ratione quam.</p>
            </div>
        </div>
    </div>
    <hr>
    <ul class="square">
        <li><span>Servicios publicados</span>  <span class="number">4</span></li>
        <li><span>Servicios Finalizados</span> <span class="number">3</span></li>
    </ul>
</section>

<section class="pt-0 pb-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 mt-3 mb-3">
                <h5 style="color: #6414F5;">Todos mis servicios</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="content-card-service d-flex ">
                    <!-- <div class="image"><img  [src]="servicio.imgUrl" alt="" class="img-fluid"></div> -->
                    <div class="description">
                      <h6>Tipo de Servicio</h6>
                      <p>Detalle del servicio</p>
                      <!-- <a class="btn btn-solicitar" (click)="contactarServicio(servicio)">Ver servicio</a> -->
                    </div>
                    
                </div>
            </div>
            <div class="col-md-4">
                <div class="content-card-service d-flex ">
                    <!-- <div class="image"><img  [src]="servicio.imgUrl" alt="" class="img-fluid"></div> -->
                    <div class="description">
                      <h6>Tipo de Servicio</h6>
                      <p>Detalle del servicio</p>
                      <!-- <a class="btn btn-solicitar" (click)="contactarServicio(servicio)">Ver servicio</a> -->
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
